<!-- IF not HIDE_FOOTER -->
	<section class="section-pre-footer">
		<div class="container center">
			<div class="row">
				<div class="col-sm-5 twitter">
					<div class="thumb"><i class="fa fa-paw"></i></div>
					<div class="text">
						<h3>{ABOUT_US_TITLE}</h3>
						<p>{ABOUT_US}</p>
					</div>
				</div>
				<div class="col-sm-5 col-sm-offset-2 twitter">
					<div class="thumb"><i class="fa fa-twitter"></i></div>
					<div class="text">
						<h3><a href="https://twitter.com/{TWITTER_SCREEN_NAME}">{L_JOIN_US_TWITTER}&nbsp;<small>@{TWITTER_SCREEN_NAME}</small></a></h3>
						 <div id="twitter-feed"></div>
					</div>
				</div>
			</div>
		</div>
		 <div class="section-bg"></div>
	</section>
<!-- ENDIF -->