<!-- Recent Lazy Topics Loader Section -->
        <div class="row text-center">
            <div class="col-md-3">
                <div class="panel panel-post">
				   <div class="blog-meta">
					<time datetime="2013-04-18T10:45:28+00:00" class="entry-date">
					 <span class="day">18</span>
					 <span class="month">Apr</span>
					</time>
				   </div>
				   <div class="title">
					<header class="entry-header">
					  <h6 class="inverse-font">long long title how many chars? lets see 123 ok more? yes 60</h6>
						<div class="entry-meta">
						 <span class="jp-views">&nbsp;-&nbsp;By&nbsp;<a style="color: #48D1CC; font-weight: bold;" href="#" class="text-warning" title="">Admin</a></span>
						</div>
					</header>
			       </div>
				   <div class="content-post">
				    <p>We have created lots of YouTube videos just so you can achieve [...]</p>  
				   </div>
				<div class="panel-bottom">
					<a href="#" class="btn btn-xs btn-link" data-original-title="" title="">READ MORE</a>
				</div>               
			   </div>
            </div>
            
           <div class="col-md-3">
                <div class="panel panel-post">
				   <div class="blog-meta">
					<time datetime="2013-04-18T10:45:28+00:00" class="entry-date">
					 <span class="day">25</span>
					 <span class="month">June</span>
					</time>
				   </div>
				   <div class="title">
					<header class="entry-header">
					  <h6 class="inverse-font">Another post test yes yes yes or no, maybe ni? :-/</h6>
						<div class="entry-meta">
						 <span class="jp-views">&nbsp;-&nbsp;By&nbsp;<a style="color: #C8E44F; font-weight: bold;" href="#" class="text-warning" title="">SiteSplat</a></span>
						</div>
					</header>
			       </div>
				   <div class="content-post">
				    <p>The best flat phpBB theme around. Period. Fine craftmanship and [...]</p>  
				   </div>
				<div class="panel-bottom">
					<a href="#" class="btn btn-xs btn-link" data-original-title="" title="">READ MORE</a>
				</div>               
			   </div>
            </div>
            
            <div class="col-md-3">
                <div class="panel panel-post">
				   <div class="blog-meta">
					<time datetime="2013-04-18T10:45:28+00:00" class="entry-date">
					 <span class="day">03</span>
					 <span class="month">July</span>
					</time>
				   </div>
				   <div class="title">
					<header class="entry-header">
					  <h6 class="inverse-font">Do you need a super MOD? Well here it is. chew on this</h6>
						<div class="entry-meta">
						 <span class="jp-views">&nbsp;-&nbsp;By&nbsp;<a style="color: #D65B49; font-weight: bold;" href="#" class="text-warning" title="">Jane lou</a></span>
						</div>
					</header>
			       </div>
				   <div class="content-post">
				    <p>All you need is right here. Content tag, SEO, listing, Pizza and spaghetti [...]</p>  
				   </div>
				<div class="panel-bottom">
					<a href="#" class="btn btn-xs btn-link" data-original-title="" title="">READ MORE</a>
				</div>               
			   </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-post">
				   <div class="blog-meta">
					<time datetime="2013-04-18T10:45:28+00:00" class="entry-date">
					 <span class="day">30</span>
					 <span class="month">Dec</span>
					</time>
				   </div>
				   <div class="title">
					<header class="entry-header">
					  <h6 class="inverse-font">Lasagna on me this time ok? I got plenty of cash</h6>
						<div class="entry-meta">
						 <span class="jp-views">&nbsp;-&nbsp;By&nbsp;<a style="color: #6AB3EB; font-weight: bold;" href="#" class="text-warning" title="">Larry Page</a></span>
						</div>
					</header>
			       </div>
				   <div class="content-post">
				    <p>this should be fantastic. but what about links,images, bbcodes etc etc? [...]</p>  
				   </div>
				<div class="panel-bottom">
					<a href="#" class="btn btn-xs btn-link" data-original-title="" title="">READ MORE</a>
				</div>               
			   </div>
            </div>
           
		 <div class="col-md-12">
         <button class="btn btn-default btn-block btn-lazy">LOAD MORE POSTS</button>
		 </div>
        </div>
<!-- Recent Lazy Topics Loader Section -->